#navbar {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

.nav.item {
	margin: 1%;
}

.content {
	background-color: #a9a9a9;
	color: white;
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}
