:root {
	background: #292929;
	font-family: sans-serif;
}

#navbar {
	position: absolute;
	height: 3rem;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #191919;
	color: white;
	display: flex;
	justify-content: space-evenly;
}

.nav.item {
	margin: 1rem 1vw 1rem 1vw;
}

.content {
	position: absolute;
	width: 30rem;
	top: 3rem;
	left: 0;
	color: white;
}

h1 {
	margin: 2rem 2rem 1rem 2rem;
}

h3, p {
	margin: 1rem 2rem 1rem 2rem;
}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
