/* Base Styles */

:root {
	background: #292929;
	font-family: sans-serif;
}

/* Navbar Styles */

#navbar {
	position: absolute;
	height: 3rem;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #191919;
	color: white;
	display: flex;
	justify-content: space-evenly;
}

.nav.item {
	margin: 1rem 1vw 1rem 1vw;
}

/* Body/Content Styles */

.content {
	position: absolute;
	max-width: 30rem;
	top: 3rem;
	left: 0;
	color: white;
}

/* Text Element Styles */

h1 {
	margin: 2rem 2rem 1rem 2rem;
}

p {
	margin: 1rem 2rem 1rem 2rem;
}

a.nav.item {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* Text Class Styles */

.bold {
	font-weight: bold;
}

.larger {
	font-size: larger;
}
